
@{
    ViewBag.Title = "Blog | YKA Elektrik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content detay">
    <div class="parallax-container">
        <div class="parallax banner">
            <img src="~/Content/images/banner1.png" alt="YKA Elektrik" />
        </div>
        <div class="detay-filter">
            <div class="detay-baslik">
                <h1>Blog</h1>
            </div>
        </div>
        <div class="banner-category">
            <ul>
                <li><a href="@Url.Action("Index","Default")" title="YKA Elektrik">Anasayfa<i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
                <li><a href="@Url.Action("Blog","Default")" title="Bloglar">Bloglar<i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="blog">
        <div class="container">
            <div class="blog-card">
                <div class="row">

                    <div class="col l4 m4 s12">
                        <div class="blog-box">
                            <div class="card-content">
                                <a class="blog-img" title="YKA Elektrik" href="">
                                    <img src="~/Content/images/blog1.png" alt="YKA Elektrik">
                                </a>
                                <div class="card-hover">
                                    <h4 class="title">Busbar Fiyat Listesi</h4>
                                    <p>Busbar sistemleri prefabrik yapıda kullanılan elektrik uygulamalarına verilen isimdir. Bu uygulamanın görevi elektrik...</p>
                                    <a href="urun-alt.html" title="Blog Detay">Devamını Oku<i class="fa-solid fa-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

