
@{
    ViewBag.Title = "Endüstriyel Enerji ve Elektrik Malzemeleri | YKA Elektrik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="owl-carousel owl-theme slider">
    <div class="item">
        <img src="~/Content/images/slide.png" data-resim="~/Content/images/mobil.png" alt="slider" />
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="services">
            <div class="service-flex">
                <a class="electric" title="electric">Aydınlatma<img src="~/Content/images/aydinlatma.svg" alt="YKA Elektrik"></a>
                <a class="electric" title="electric">Enerji Kablosu<img src="~/Content/images/enerji.svg" alt="YKA Elektrik"></a>
                <a class="electric" title="electric">Anahtar Priz<img src="~/Content/images/anahtar.svg" alt="YKA Elektrik"></a>
                <a class="electric" title="electric">Şalter<img src="~/Content/images/salter.svg" alt="YKA Elektrik"></a>
                <a class="electric" title="electric">Sensör<img src="~/Content/images/sensor.svg" alt="YKA Elektrik"></a>
                <a class="electric" title="electric">Topraklama<img src="~/Content/images/topraklanma.svg" alt="YKA Elektrik"></a>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="products-text">
                <span class="baslik">Ürünler</span>
                <span class="alt-baslik">Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris sed.</span>
            </div>
            <div class="row">
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/11.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/2.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/3.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/4.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/5.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/6.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/7.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
                <div class="col l3 m3 s12">
                    <a class="products-img" title="YKA Elektrik" href="">
                        <ul class="products-img-text">
                            <li><img src="~/Content/images/8.png" alt="YKA Elektrik"></li>
                            <li class="baslik-alt">LOREM IPSUM</li>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="products-button">
                <a class="products-btn" title="Tüm Ürünler">Tüm Ürünler</a>
            </div>
        </div>
    </div>

    <div class="anasayfa-p">
        <div class="parallax-container">
            <div class="parallax">
                <img src="~/Content/images/paralax.png" alt="YKA Elektrik" />
            </div>
            <div class="bg-filter">
                <div class="bg-baslik">
                    <h3>Hakkımızda</h3>
                </div>
                <div class="bg-text">
                    <p>YKA Elektrik, enerji ve elektrik malzemeleri sektöründe faaliyet gösteren global markaların ürünlerini müşterileriyle buluşturuyor. Biz; bireysel ve ticari olarak elektrik-endüstri ürünleri ihtiyaçlarına eksiksiz çözümler sunma konusunda deneyimliyiz.</p>
                </div>
                <div class="bg-button">
                    <a class="bg-btn" title="İletişime Geç">İletişime Geç<i class="fa-solid fa-right-long"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="blog">
        <div class="container">
            <div class="blogs">
                <div class="blog-baslik">
                    <p>Blog</p>
                </div>
                <div class="blog-text">
                    <p>Lorem ipsum dolor sit amet, vel accumsan liberavisse ex, ea nec elaboraret interpretaris sed.</p>
                </div>
            </div>
            <div class="blog-card">
                <div class="row">
                    <div class="col l4 m4 s12">
                        <div class="blog-box">
                            <div class="card-content">
                                <a class="blog-img" title="YKA Elektrik" href="">
                                    <img src="~/Content/images/blog1.png" alt="YKA Elektrik">
                                </a>
                                <div class="card-hover">
                                    <h4 class="title">Busbar Fiyat Listesi</h4>
                                    <p>Busbar sistemleri prefabrik yapıda kullanılan elektrik uygulamalarına verilen isimdir. Bu uygulamanın görevi elektrik...</p>
                                    <a href="blog-detay.html" title="Blog Detay">Devamını Oku<i class="fa-solid fa-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="blog-box">
                            <div class="card-content">
                                <a class="blog-img" title="YKA Elektrik" href="">
                                    <img src="~/Content/images/blog2.png" alt="YKA Elektrik">
                                </a>
                                <div class="card-hover">
                                    <h4 class="title">Busbar Fiyat Listesi</h4>
                                    <p>Busbar sistemleri prefabrik yapıda kullanılan elektrik uygulamalarına verilen isimdir. Bu uygulamanın görevi elektrik...</p>
                                    <a href="blog-detay.html" title="Blog Detay">Devamını Oku<i class="fa-solid fa-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="blog-box">
                            <div class="card-content">
                                <a class="blog-img" title="YKA Elektrik" href="">
                                    <img src="~/Content/images/blog3.png" alt="YKA Elektrik">
                                </a>
                                <div class="card-hover">
                                    <h4 class="title">Busbar Fiyat Listesi</h4>
                                    <p>Busbar sistemleri prefabrik yapıda kullanılan elektrik uygulamalarına verilen isimdir. Bu uygulamanın görevi elektrik...</p>
                                    <a href="blog-detay.html" title="Blog Detay">Devamını Oku<i class="fa-solid fa-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="blog-box">
                            <div class="card-content">
                                <a class="blog-img" title="YKA Elektrik" href="">
                                    <img src="~/Content/images/blog4.png" alt="YKA Elektrik">
                                </a>
                                <div class="card-hover">
                                    <h4 class="title">Busbar Fiyat Listesi</h4>
                                    <p>Busbar sistemleri prefabrik yapıda kullanılan elektrik uygulamalarına verilen isimdir. Bu uygulamanın görevi elektrik...</p>
                                    <a href="blog-detay.html" title="Blog Detay">Devamını Oku<i class="fa-solid fa-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="blog-box">
                            <div class="card-content">
                                <a class="blog-img" title="YKA Elektrik" href="">
                                    <img src="~/Content/images/blog5.png" alt="YKA Elektrik">
                                </a>
                                <div class="card-hover">
                                    <h4 class="title">Busbar Fiyat Listesi</h4>
                                    <p>Busbar sistemleri prefabrik yapıda kullanılan elektrik uygulamalarına verilen isimdir. Bu uygulamanın görevi elektrik...</p>
                                    <a href="blog-detay.html" title="Blog Detay">Devamını Oku<i class="fa-solid fa-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 m4 s12">
                        <div class="blog-box">
                            <div class="card-content">
                                <a class="blog-img" title="YKA Elektrik" href="">
                                    <img src="~/Content/images/blog6.png" alt="YKA Elektrik">
                                </a>
                                <div class="card-hover">
                                    <h4 class="title">Busbar Fiyat Listesi</h4>
                                    <p>Busbar sistemleri prefabrik yapıda kullanılan elektrik uygulamalarına verilen isimdir. Bu uygulamanın görevi elektrik...</p>
                                    <a href="blog-detay.html" title="Blog Detay">Devamını Oku<i class="fa-solid fa-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="solution-partners">
        <div class="container">
            <div class="solution-text">
                <p>Çözüm Ortakları</p>
            </div>
            <div class="solution-flex">
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/schneider.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/hes-kablo.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/oznur-kablo.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/schneider.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/hes-kablo.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/schneider.png" alt="YKA Elektrik"></a>
            </div>
            <div class="solution-flex">
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/schneider.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/hes-kablo.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/oznur-kablo.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/schneider.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/hes-kablo.png" alt="YKA Elektrik"></a>
                <a class="col l2 m4 s12" title="solution"><img src="~/Content/images/schneider.png" alt="YKA Elektrik"></a>
            </div>
            <div class="products-button">
                <a class="products-btn" title="Tümü">Tümü</a>
            </div>
        </div>
    </div>
</div>


