
@{
    ViewBag.Title = "Kurumsal | YKA Elektrik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CONTENT -->
<div class="content detay">
    <div class="parallax-container">
        <div class="parallax banner">
            <img src="~/Content/images/banner1.png" alt="YKA Elektrik" />
        </div>
        <div class="detay-filter">
            <div class="detay-baslik">
                <h1>Biz Kimiz?</h1>
            </div>
        </div>
        <div class="banner-category">
            <ul>
                <li><a href="/index.html" title="YKA Elektrik">Anasayfa<i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
                <li><a href="/kurumsal.html" title="Kurumsal">Kurumsal<i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
                <li><a href="/kurumsal.html" title="Biz Kimiz?">Biz Kimiz?<i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="corporate">
        <div class="container">
            <div class="corporate-text">
                <p><span>YKA Elektrik;</span> endüstriyel, enerji ve elektrik malzemeleri sektöründe faaliyet gösteren global markaların ürünlerini müşterileriyle buluşturuyor. Biz; bireysel ve ticari olarak elektrik-endüstri ürünleri ihtiyaçlarına eksiksiz çözümler sunma konusunda deneyimliyiz.</p>
                <p>Günümüzün maliyet odaklı, yüksek hızlı ve rekabetçi iş ortamında, elektrik teknolojileri alanında ihtiyaç duyulan her türlü endüstriyel ürünü uygun fiyatlarla sunuyoruz. Kaliteden asla ödün vermeden, sektöre katkı sağlamayı sürdürüyoruz.</p>
                <p>Müşteri memnuniyeti, zamanında teslimat, takım çalışması, yüksek kalite ve dürüstlük değerleri önceliğimizdir. YKA Elektrik olarak; kusursuz ve hızlı tedarik, bireysel ilgi ve özelleştirilmiş çözüm, bütçe dostu fiyatlar konusunda da fark yaratıyoruz.</p>
                <p>Doğanın ve insanlığın güvenliği ve refahını göz önünde bulunduruyor, en kaliteli ürünleri tüketicilere sunuyoruz. Her türlü yeniliğe kolayca adapte olmayı başarıyor, teknolojik yenilikleri hızlı şekilde benimsiyoruz.</p>
                <p>Çözüm ortaklarımız ve çalışanlarımızla kusursuz hizmet ve yüksek kaliteli ürünler sunmanın yanı sıra, bize doğrudan veya dolaylı olarak bağlı olan herkesle uyumlu bir çalışma sergilediğimiz için de gururluyuz.</p>
                <h5>Geniş Ürün Yelpazesi Sunuyoruz</h5>
                <p>Elektrik ve endüstriyel ürün taleplerine en iyi şekilde yanıt veriyor, müşterilerimizin ihtiyaçlarını önemsiyoruz. Dünya çapında popüler ve güvenilir çözüm ortaklarımız ile müşteri taleplerini etkin şekilde karşılıyoruz. En iyi markalı elektrik ve endüstriyel ürünleri tedarik ediyoruz ve müşteri memnuniyetini üst seviyelerde tutmaya özen gösteriyoruz. Sunmuş olduğumuz ürün grupları şunları içeriyor:</p>
                <ul>
                    <li>Aydınlatma</li>
                    <li>Enerji kablosu</li>
                    <li>Zayıf akım kablosu</li>
                    <li>Anahtar priz</li>
                    <li>Şalter</li>
                    <li>Kablo kanalları</li>
                    <li>Topraklama</li>
                    <li>Sensör</li>
                </ul>
                <h5>Elektrik ve Endüstriyel Ürün Grubunda Yüksek Kalite Vadediyoruz</h5>
                <p>YKA Elektrik; kaliteden ödün vermeyen bir tavırla, eksiksiz müşteri memnuniyeti ve dürüstlük ilkeleriyle birlikte hizmet sunmaya devam ediyor.</p>
                <p>En son teknoloji ekipmanlarından oluşan ve uluslararası standartları karşılayan ürünlerimiz; bireysel ve ticari müşterilerimize benzersiz avantajlar vadediyor. Kablo montaj süresini azaltmak, başarısızlık oranını en aza indirmek, beklenen elektriksel ve mekanik performansın karşılanmasını sağlamak, üretim sürelerini otomatikleştirmek, her türlü yapıda yüksek kaliteli elektrik malzemeleri kullanmak, bu avantajlar arasında yer alıyor. Tedarik ettiğimiz tüm ürünler onaylı, sertifikalı ve standartlara uygundur.</p>
                <p>Eviniz, fabrikanız, işyeriniz, projeniz veya aracınız için en kaliteli ürünleri arıyorsanız; YKA Elektrik daima yanınızda!</p>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT END-->
